<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="container">
	<h3>Search in Django</h3>

	<!-- Search form -->
	<form action=""  method="get">
       <input class="form-control" name="pet_name" type="text" placeholder="Search Pets" aria-label="Search">
	   <br>
	   <button type="submit" class="btn btn-primary">Search</button>
	</form>
	<br><br>

  <div class="row">
    <div class="col-12">
		<table class="table table-image">
		  <thead>
		    <tr>
		      <th scope="col">Image</th>
		      <th scope="col">Pet</th>
		    </tr>
		  </thead>
		  <tbody>
		  {% for pet in pets %}
		    <tr>
		      <td class="w-25">
			      <img src="{{pet.image.url}}" class="img-fluid img-thumbnail" alt="Sheep" width="200" height="10">
		      </td>
		      <td>{{pet.pet_name}}</td>
		    </tr>
		  {% endfor %}

		  </tbody>
		</table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>